<a href="https://colab.research.google.com/github/nopalraihan/Codveda-data-analysis-intern/blob/main/codveda_task_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task 3 Clustering Analysis (KMeans)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

In [ ]:
!gdown --id 1qZi8Wl0qAlsPDsKgpkYl3YNAExQ3kwzx
!gdown --id 1u33DSlb1kq8xcS-wwgDPk0g1MNMxUUue

/usr/local/lib/python3.11/dist-packages/gdown/__main__.py:140: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1qZi8Wl0qAlsPDsKgpkYl3YNAExQ3kwzx
To: /content/churn-bigml-20.csv
100% 56.3k/56.3k [00:00<00:00, 56.8MB/s]
/usr/local/lib/python3.11/dist-packages/gdown/__main__.py:140: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1u33DSlb1kq8xcS-wwgDPk0g1MNMxUUue
To: /content/churn-bigml-80.csv
100% 224k/224k [00:00<00:00, 103MB/s]

In [ ]:
df_20 = pd.read_csv('/content/churn-bigml-20.csv')
df_80 = pd.read_csv('/content/churn-bigml-80.csv')

In [ ]:
print('df_20: ', df_20.shape)
print('df_80: ', df_80.shape)

df_20:  (667, 20)
df_80:  (2666, 20)

In [ ]:
print('train duplicates data: ', df_80.duplicated().sum())
print('test duplicates data: ', df_20.duplicated().sum())

train duplicates data:  0
test duplicates data:  0

In [ ]:
df_20.isna().sum()

State                     0
Account length            0
Area code                 0
International plan        0
Voice mail plan           0
Number vmail messages     0
Total day minutes         0
Total day calls           0
Total day charge          0
Total eve minutes         0
Total eve calls           0
Total eve charge          0
Total night minutes       0
Total night calls         0
Total night charge        0
Total intl minutes        0
Total intl calls          0
Total intl charge         0
Customer service calls    0
Churn                     0
dtype: int64

In [ ]:
df_80.isna().sum()

State                     0
Account length            0
Area code                 0
International plan        0
Voice mail plan           0
Number vmail messages     0
Total day minutes         0
Total day calls           0
Total day charge          0
Total eve minutes         0
Total eve calls           0
Total eve charge          0
Total night minutes       0
Total night calls         0
Total night charge        0
Total intl minutes        0
Total intl calls          0
Total intl charge         0
Customer service calls    0
Churn                     0
dtype: int64

In [ ]:
print(df_80.info())
print(df_20.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2666 entries, 0 to 2665
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   2666 non-null   object
 1   Account length          2666 non-null   int64
 2   Area code               2666 non-null   int64
 3   International plan      2666 non-null   object
 4   Voice mail plan         2666 non-null   object
 5   Number vmail messages   2666 non-null   int64
 6   Total day minutes       2666 non-null   float64
 7   Total day calls         2666 non-null   int64
 8   Total day charge        2666 non-null   float64
 9   Total eve minutes       2666 non-null   float64
 10  Total eve calls         2666 non-null   int64
 11  Total eve charge        2666 non-null   float64
 12  Total night minutes     2666 non-null   float64
 13  Total night calls       2666 non-null   int64
 14  Total night charge      2666 non-null   float64
 15  Total intl minutes      2666 non-null   float64
 16  Total intl calls        2666 non-null   int64
 17  Total intl charge       2666 non-null   float64
 18  Customer service calls  2666 non-null   int64
 19  Churn                   2666 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(3)
memory usage: 398.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   667 non-null    object
 1   Account length          667 non-null    int64
 2   Area code               667 non-null    int64
 3   International plan      667 non-null    object
 4   Voice mail plan         667 non-null    object
 5   Number vmail messages   667 non-null    int64
 6   Total day minutes       667 non-null    float64
 7   Total day calls         667 non-null    int64
 8   Total day charge        667 non-null    float64
 9   Total eve minutes       667 non-null    float64
 10  Total eve calls         667 non-null    int64
 11  Total eve charge        667 non-null    float64
 12  Total night minutes     667 non-null    float64
 13  Total night calls       667 non-null    int64
 14  Total night charge      667 non-null    float64
 15  Total intl minutes      667 non-null    float64
 16  Total intl calls        667 non-null    int64
 17  Total intl charge       667 non-null    float64
 18  Customer service calls  667 non-null    int64
 19  Churn                   667 non-null    bool
dtypes: bool(1), float64(8), int64(8), object(3)
memory usage: 99.8+ KB
None

In [ ]:

from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, classification_report

In [ ]:
df_80.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,No,Yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,No,No,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,Yes,No,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,Yes,No,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [ ]:
df_80.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2666 entries, 0 to 2665
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   2666 non-null   object
 1   Account length          2666 non-null   int64
 2   Area code               2666 non-null   int64
 3   International plan      2666 non-null   object
 4   Voice mail plan         2666 non-null   object
 5   Number vmail messages   2666 non-null   int64
 6   Total day minutes       2666 non-null   float64
 7   Total day calls         2666 non-null   int64
 8   Total day charge        2666 non-null   float64
 9   Total eve minutes       2666 non-null   float64
 10  Total eve calls         2666 non-null   int64
 11  Total eve charge        2666 non-null   float64
 12  Total night minutes     2666 non-null   float64
 13  Total night calls       2666 non-null   int64
 14  Total night charge      2666 non-null   float64
 15  Total intl minutes      2666 non-null   float64
 16  Total intl calls        2666 non-null   int64
 17  Total intl charge       2666 non-null   float64
 18  Customer service calls  2666 non-null   int64
 19  Churn                   2666 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(3)
memory usage: 398.5+ KB

In [ ]:
#merge data train and test
df_20['source'] = 'test'
df_80['source'] = 'train'

df_all = pd.concat([df_20, df_80])

In [ ]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3333 entries, 0 to 2665
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   3333 non-null   object
 1   Account length          3333 non-null   int64
 2   Area code               3333 non-null   int64
 3   International plan      3333 non-null   object
 4   Voice mail plan         3333 non-null   object
 5   Number vmail messages   3333 non-null   int64
 6   Total day minutes       3333 non-null   float64
 7   Total day calls         3333 non-null   int64
 8   Total day charge        3333 non-null   float64
 9   Total eve minutes       3333 non-null   float64
 10  Total eve calls         3333 non-null   int64
 11  Total eve charge        3333 non-null   float64
 12  Total night minutes     3333 non-null   float64
 13  Total night calls       3333 non-null   int64
 14  Total night charge      3333 non-null   float64
 15  Total intl minutes      3333 non-null   float64
 16  Total intl calls        3333 non-null   int64
 17  Total intl charge       3333 non-null   float64
 18  Customer service calls  3333 non-null   int64
 19  Churn                   3333 non-null   bool
 20  source                  3333 non-null   object
dtypes: bool(1), float64(8), int64(8), object(4)
memory usage: 550.1+ KB

In [ ]:
df_all['International plan'] = df_all['International plan'].map({'Yes': 1, 'No': 0})
df_all['Voice mail plan'] = df_all['Voice mail plan'].map({'Yes': 1, 'No': 0})
df_all['Churn'] = df_all['Churn'].astype(int)

df_all = pd.get_dummies(df_all, columns=['State'], drop_first=True)

In [ ]:
df_all.isna().sum()

Account length           0
Area code                0
International plan       0
Voice mail plan          0
Number vmail messages    0
                        ..
State_VT                 0
State_WA                 0
State_WI                 0
State_WV                 0
State_WY                 0
Length: 70, dtype: int64

In [ ]:
df_20 = df_all[df_all['source'] == 'test'].drop(columns=['source']).reset_index(drop=True)
df_80 = df_all[df_all['source'] == 'train'].drop(columns=['source']).reset_index(drop=True)

In [ ]:
X_train = df_80.drop(columns=['Churn'])  # Features for training
y_train = df_80['Churn']  # Target variable for training

X_test = df_20.drop(columns=['Churn'])  # Features for testing
y_test = df_20['Churn']  # Target variable for testing

In [ ]:
print("Missing values in training target:", y_train.isnull().sum())
print("Missing values in testing target:", y_test.isnull().sum())

Missing values in training target: 0
Missing values in testing target: 0

In [ ]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)  # Fit and transform on training data
X_test_scaled = scaler.transform(X_test)

In [ ]:
models = {
    'Logistic Regression': LogisticRegression(max_iter=100),
    'Decision Tree': DecisionTreeClassifier(),
    'Random Forest': RandomForestClassifier()
}

for name, model in models.items():
    model.fit(X_train_scaled, y_train)  # Train the model
    y_pred = model.predict(X_test_scaled)  # Make predictions on the test set

    print(f"\nModel: {name}")
    print("Accuracy:", accuracy_score(y_test, y_pred))
    print("Precision:", precision_score(y_test, y_pred))
    print("Recall:", recall_score(y_test, y_pred))
    print("F1-Score:", f1_score(y_test, y_pred))
    print("\nClassification Report:")
    print(classification_report(y_test, y_pred))

Model: Logistic Regression
Accuracy: 0.8590704647676162
Precision: 0.5106382978723404
Recall: 0.25263157894736843
F1-Score: 0.3380281690140845

Classification Report:
              precision    recall  f1-score   support

           0       0.89      0.96      0.92       572
           1       0.51      0.25      0.34        95

    accuracy                           0.86       667
   macro avg       0.70      0.61      0.63       667
weighted avg       0.83      0.86      0.84       667


Model: Decision Tree
Accuracy: 0.9250374812593704
Precision: 0.7272727272727273
Recall: 0.7578947368421053
F1-Score: 0.7422680412371134

Classification Report:
              precision    recall  f1-score   support

           0       0.96      0.95      0.96       572
           1       0.73      0.76      0.74        95

    accuracy                           0.93       667
   macro avg       0.84      0.86      0.85       667
weighted avg       0.93      0.93      0.93       667


Model: Random Forest
Accuracy: 0.9460269865067467
Precision: 0.9836065573770492
Recall: 0.631578947368421
F1-Score: 0.7692307692307693

Classification Report:
              precision    recall  f1-score   support

           0       0.94      1.00      0.97       572
           1       0.98      0.63      0.77        95

    accuracy                           0.95       667
   macro avg       0.96      0.81      0.87       667
weighted avg       0.95      0.95      0.94       667

In [ ]:
report = pd.DataFrame.from_dict(classification_report(y_test, y_pred, output_dict=True)).T

In [ ]:
results = {}

for name, model in models.items():
  model.fit(X_train_scaled, y_train)
  y_pred = model.predict(X_test_scaled)
  results[name] = {
      'accuracy': pd.DataFrame({'Accuracy': [accuracy_score(y_test, y_pred)]}),
      'precision': pd.DataFrame({'Precision': [precision_score(y_test, y_pred)]}),
      'recall': pd.DataFrame({'Recall': [recall_score(y_test, y_pred)]}),
      }

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
report.to_csv('/content/drive/MyDrive/Codveda Intern_Naufal raihan/report.csv', index=False)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).